
*.db
*.opendb
*.db-shm
*.db-wal
*.ipch
*.exe
*.ilk
*.pdb
SDL_Test/.vs/SDL_Test/v16/.suo
*.ipch
*.exe
*.ilk
*.tlog
SDL_Test/.vs/SDL_Test/v16/.suo
SDL_Test/.vs/SDL_Test/v16/.suo
SDL_Test/.vs/SDL_Test/v16/.suo
SDL_Test/.vs/SDL_Test/v16/ipch/AutoPCH/20e8d2e204a81f26/MAIN.ipch
SDL_Test/Debug/TestApp.exe
SDL_Test/Debug/TestApp.ilk
SDL_Test/Debug/TestApp.pdb
SDL_Test/TestApp/Debug/Color.obj
SDL_Test/TestApp/Debug/ColorPicker.obj
SDL_Test/TestApp/Debug/Component.obj
SDL_Test/TestApp/Debug/Controller.obj
SDL_Test/TestApp/Debug/Font.obj
SDL_Test/TestApp/Debug/GUIBase.obj
SDL_Test/TestApp/Debug/ImageLoader.obj
SDL_Test/TestApp/Debug/InputManager.obj
SDL_Test/TestApp/Debug/Main.obj
SDL_Test/TestApp/Debug/MainFrame.obj
SDL_Test/TestApp/Debug/MainPanel.obj
SDL_Test/TestApp/Debug/Pixel.obj
SDL_Test/TestApp/Debug/TestApp.log
SDL_Test/TestApp/Debug/TestApp.tlog/CL.read.1.tlog
SDL_Test/TestApp/Debug/TestApp.tlog/CL.write.1.tlog
SDL_Test/TestApp/Debug/TestApp.tlog/link.read.1.tlog
SDL_Test/TestApp/Debug/TestApp.tlog/TestApp.lastbuildstate
SDL_Test/TestApp/Debug/TextArea.obj
SDL_Test/TestApp/Debug/TextPanel.obj
SDL_Test/TestApp/Debug/Timer.obj
SDL_Test/TestApp/Debug/Utils.obj
SDL_Test/TestApp/Debug/vc142.idb
SDL_Test/TestApp/Debug/vc142.pdb
*.exe
*.exe
*.obj
*.tlog
*.pdb
*.obj
*.idb
SDL_Test/.vs/SDL_Test/v16/.suo
*.exe
SDL_Test/.vs/SDL_Test/v16/.suo
*.ilk
*.obj
*.tlog
